.env
inventory/__pycache__/
mybiz/__pycache__/
users/__pycache__/
db.sqlite3
__pycache__/
venv/
users/migrations/
users/__pycache__/
mybiz/migrations/
inventory/migrations/__pycache__/
accounts/migrations/__pycache__
accounts/__pycache__/
*/migrations/0002_auto_*.py
*/migrations/0001_initial.py
*/migrations/*
!*/migrations/__init__.py